.kariyerhdr {
  width: 100%;
  margin-top: 62px;
  display: flex;
  padding: 20px 5px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to right, #402759, #2a1b40, #160f26);
}
.kariyerhdr h4 {
  color: #fff;
  font-size: 20px;
  margin: 0 30px;
  padding: 20px;
  width: 60%;
  border-bottom: 1px solid #fff;
}
.gonder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: #fff;
  padding: 15px;
}
.gnd {
  padding: 10px 50px;
  border: 1px solid #fff;
  border-radius: 40px;
  cursor: pointer;
}
.export {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: #fff;
  font-size: 12px;
}
.blogform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background: linear-gradient(#1e1435, #221737, #281c3b);
  margin: auto;
  margin-top: 72px;
  border-radius: 50px;
  width: 100%;
}
.categories {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.catalog {
  list-style: none;
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
}
.flt {
  margin: 15px;
  padding: 5px 15px;
  text-align: center;

  border-radius: 50px;
  background-color: #5a4b69;
}
.flt a {
  font-size: 16px;
  cursor: pointer;
}
.bloglist {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;

  color: #fff;
}

.listli {
  display: flex;
  background: linear-gradient(#1e1435, #221737, #281c3b);
  padding: 20px;
  border-radius: 20px;
  margin: 10px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.bloginfo {
  margin-right: 50px;
}
.infoedit {
  margin-left: 50px;
}
.infoedit ul {
  list-style: none;
}
.infoedit li {
  padding: 2px;
  text-decoration: underline;
  font-size: 14px;
}
@media screen and (max-width: 460px) {
  .bloginfo {
    font-size: 14px;
  }
}
