.kariyerhdr {
  width: 100%;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to right, #402759, #2a1b40, #160f26);
}
.kariyerhdr h4 {
  color: #fff;
  font-size: 20px;
  margin: 30px;
  padding: 10px;
  width: 60%;
  border-bottom: 1px solid #fff;
}
.kariyerhdr p {
  color: #fff;
  font-size: 16px;
  margin: 0 30px;
  padding: 20px;
}
.admin {
  display: flex;
  color: #fff;
  margin-top: 72px;
}
.formkariyer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  background: linear-gradient(#1e1435, #221737, #281c3b);
  margin: auto;
  margin-right: 30px;
  border-radius: 50px;
  width: 75%;
}
.export {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: #fff;
  font-size: 10px;
}
.gonder {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  color: #fff;
}
.gnd {
  padding: 10px 50px;
  border: 1px solid #fff;
  border-radius: 40px;
  cursor: pointer;
}
.categories {
  width: 25%;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #fff;
}
.catalog {
  list-style: none;
  margin: 15px;
}
.flt {
  margin: 15px;
  padding: 5px;
  text-align: center;
  width: 70%;
  border-radius: 50px;
  background-color: #5a4b69;
}
.flt a {
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .gnd {
    padding: 10px 20px;
  }
  .gonder {
    justify-content: center;
  }

  .kariyerhdr h4 {
    font-size: 14px;
  }
  .kariyerhdr p {
    font-size: 10px;
  }
  .export p {
    font-size: 8px;
  }
  .formkariyer {
    padding: 20px;

    width: 100%;
  }
}
