.bloghdr {
  width: 100%;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to right, #402759, #2a1b40, #160f26);
}
.bloghdr h4 {
  color: #fff;
  font-size: 20px;
  margin: 30px;
  padding: 10px;
  width: 60%;
  border-bottom: 1px solid #fff;
}
.search {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 20px;
  height: 40px;
  width: 250px;
  background-color: #ecdcf5;
  opacity: 0.8;
  border-radius: 20px;
}
.srchi {
  margin: 0 10px;
}
.blghdr {
  font-size: 20px;
  color: #fff;
  padding: 30px;
}
.blogdtymain {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-top: 20px;
}
.blgdtyust {
  display: flex;
  margin-bottom: 50px;
}
.blgdtyrght {
  width: 75%;
  display: flex;
  flex-direction: column;
}
.blogcard {
  margin: auto;
  text-align: center;
  width: 75%;
  border-radius: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #281c3b;
}
.blgcrdimg {
  display: flex;
  margin: 25px;
  position: relative;
}
.writer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 7px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: #5a4b69;
  border-radius: 0 0 50px 50px;
}
.wrtimg {
  position: relative;
  /* width: 120px;
  height: 120px; */
  margin: 10px;
  width: 25%;
}
.wrtexp {
  padding: 5px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrtexp h4 {
  font-size: 20px;
}
.wrtexp p {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.altexphdr {
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}
.blgcrdexp {
  padding: 30px;
  font-size: 16px;
  text-align: center;
}
.blgmore {
  padding: 10px 50px;
  text-align: left;
  color: #1cd42e;
}
.categories {
  width: 25%;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #fff;
}
.catalog {
  list-style: none;
  margin: 15px;
}
.flt {
  margin: 15px;
  padding: 5px;
  text-align: center;
  width: 70%;
  border-radius: 50px;
  background-color: #5a4b69;
}
.flt a {
  font-size: 16px;
}
.altcatalog {
  margin: 15px 26px;
  padding: 20px;
  text-align: center;
  width: 70%;
  border-radius: 40px;
  background-color: #5a4b69;
}
.altcatalog ul {
  list-style: none;
}
.altfirstli {
  font-size: 20px;
  border-bottom: 1px solid #fff;
}
.altli {
  font-size: 16px;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}
.altli a {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.blgalt {
  display: flex;
  flex-direction: column;
}
.althdr {
  font-size: 20px;
  color: #fff;
  padding: 30px;
}
.altswp {
  width: 100%;
}
.altimg {
  margin: 15px;
  position: relative;
}
.altcrd {
  width: 200px;
  background-color: #5a4b69;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.altexp {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media screen and (max-width: 1120px) {
  .wrtimg {
    display: none;
  }
  .wrtexp {
    border-radius: 40px;
    padding: 0;
    text-align: center;
    width: 100%;
  }
  .wrtexp h4 {
    font-size: 16px;
    padding: 5px;
    border-bottom: 1px solid #fff;
    width: 100%;
  }
  .wrtexp p {
    padding: 10px;
    font-size: 12px;
  }
}
@media screen and (max-width: 960px) {
  .flt a {
    font-size: 12px;
  }
  .blghdr {
    font-size: 16px;
    margin-top: 100px;
    margin-left: 20px;
    padding: 0;
  }
  .altexphdr {
    font-size: 16px;
  }
  .blgcrdexp {
    font-size: 14px;
  }
  .altfirstli {
    font-size: 16px;
  }
  .blgmore a {
    font-size: 12px;
  }
  .altli {
    font-size: 12px;
  }
  .althdr {
    font-size: 16px;
    padding: 0 30px;
  }
  .altexp {
    font-size: 12px;
  }
  .altcrd {
    width: 180px;
    border-radius: 30px;
  }
  .writer {
    padding: 0;
  }
  .wrtexp {
    margin-bottom: 20px;
  }
  .wrtexp h4 {
    /* border-right: 1px solid #fff;
    border-bottom: none; */
    padding: 5px;
  }
  .wrtexp p {
    padding: 5px 15px;
    text-align: left;
  }
  .wrtexp {
    border-radius: 17px;
    display: flex;
  }
}
@media screen and (max-width: 700px) {
  .categories {
    display: none;
  }
  .blgdtyrght {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .wrtexp p {
    font-size: 10px;
  }
  .wrtexp h4 {
    font-size: 12px;
  }
}
