.burchdr {
  width: 100%;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to right, #402759, #2a1b40, #160f26);
}
.burchdr h4 {
  color: #fff;
  font-size: 20px;
  margin: 30px;
  padding: 10px;
  width: 60%;
  border-bottom: 1px solid #fff;
}
.search {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 20px;
  height: 40px;
  width: 250px;
  background-color: #ecdcf5;
  opacity: 0.8;
  border-radius: 20px;
}
.srchi {
  margin: 0 10px;
}
.burcmain {
  display: flex;
  color: #fff;
  margin-top: 72px;
}
.burcrght {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rghthdr {
  margin: 20px 50px;
  font-size: 20px;
}
.hdrswp {
  width: 90%;
  margin: auto;
  cursor: pointer;
}
.rghtbtm {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.btmhdr {
  margin: 30px 50px;
  font-size: 16px;
}
.btmcrds {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.btmcrd {
  width: 400px;
  padding: 20px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #5a4b69;
  margin: 10px;
  cursor: pointer;
}
.more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  cursor: pointer;
}

.categories {
  width: 25%;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #fff;
}
.catalog {
  list-style: none;
  margin: 15px;
}
.flt {
  margin: 15px;
  padding: 5px;
  text-align: center;
  width: 70%;
  border-radius: 50px;
  background-color: #5a4b69;
}
.flt a {
  font-size: 16px;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .btmcrd {
    width: 310px;
  }
  .btmcrd a {
    font-size: 18px;
    padding: 5px;
    font-size: 12px;
  }
  .rghthdr {
    width: 100%;
  }
  .rghthdr h5 {
    font-size: 14px;
  }
  .flt a {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  .categories {
    display: none;
  }
  .burcrght {
    width: 100%;
  }

  .rghthdr h3 {
    font-size: 14px;
  }
}
