.faltrhdr {
  width: 100%;
  height: 140px;
  margin-top: 62px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: linear-gradient(to right, #402759, #2a1b40, #160f26);
}
.faltrhdr h4 {
  color: #fff;
  font-size: 20px;
  margin: 30px;
  width: 60%;
  border-bottom: 1px solid #fff;
}
.search {
  display: flex;
  align-items: center;
  float: right;
  margin-top: 20px;
  height: 40px;
  width: 250px;
  background-color: #ecdcf5;
  opacity: 0.8;
  border-radius: 20px;
}
.srchi {
  margin: 0 10px;
}
.falmain {
  display: flex;
  color: #fff;
  margin-top: 72px;
}
.faltur {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.falturhdr {
  padding: 30px;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 50px;
  margin: 20px;
}
.falturhdr h3 {
  font-size: 20px;
}
.falturhdr p {
  font-size: 16px;
}
.categories {
  width: 25%;
  display: flex;
  flex-direction: column;

  border-left: 1px solid #fff;
}
.catalog {
  list-style: none;
  margin: 15px;
}
.flt {
  margin: 15px;
  padding: 5px;
  text-align: center;
  width: 70%;
  border-radius: 50px;
  background-color: #5a4b69;
}
.flt a {
  font-size: 16px;
}
.star {
  display: flex;
}
.cardMain {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* margin: 70px 0; */
}
.card {
  width: 330px;
  height: 504px;
  background-color: #281c3b;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px 15px;
}
.card h5 {
  font-size: 24px;
  color: #ecdcf5;
  margin: 0;
  margin-bottom: 30px;
}
.card p {
  font-size: 18px;
  color: #fff;
  padding: 15px;
  margin: 0;
}
.cardimg {
  width: 130px;
}
.crdi {
  display: flex;
  justify-content: space-between;
}
.cardicon {
  padding: 10px 20px;
  cursor: pointer;
}
.cardgiris {
  width: 148px;
  height: 54px;
  background-color: #1cd42e;
  color: #fff;
  border-radius: 34px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.more {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .card {
    width: 310px;
    height: 454px;
  }
  .card h5 {
    font-size: 18px;
  }
  .card p {
    font-size: 14px;
  }
  .cardgiris {
    font-size: 14px;
    width: 128px;
    height: 44px;
  }
  .faltrhdr h4 {
    font-size: 16px;
  }
  .flt a {
    font-size: 12px;
  }
}
@media screen and (max-width: 700px) {
  .categories {
    display: none;
  }
  .faltur {
    width: 100%;
  }
  .falturhdr p {
    font-size: 12px;
  }
  .falturhdr h3 {
    font-size: 14px;
  }
}
