.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 312px;
}
.socialicons {
  display: flex;
  margin-top: 160px;
}
.socialicons a {
  padding: 15px;
}
.ftrbtm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ecdcf5;
  padding: 5px 20px;
}
.btmicons {
  display: flex;
}
.copyrght {
  font-size: 14px;
}
@media screen and (max-width: 960px) {
  .copyrght {
    font-size: 10px;
  }
}
