.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 512px;
}
.socialicons {
  margin-top: 160px;
}
.ftrbtm {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ecdcf5;
}
.copyrght {
  font-size: 18px;
}
